{% extends "books_cbv/base.html" %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12 header">
        <div class="text-center">
          <img src="{% static 'books_cbv/images/logo.png' %}" alt="" class="img-responsive logo"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <div class="form-group form-login">
          <input type="text" class="form-control input-login" required placeholder="Usuario">
          <input type="password" class="form-control input-login" required placeholder="Contraseña">

          <a href="{% url 'books_cbv:home' %}" class="button-mp links">Administrador</a>
          <a href="{% url 'books_cbv:home2' %}" class="button-mp links">Cliente</a><br>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

